@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'src/styles/variables';
@import 'src/styles/typography/typography';
@import 'src/styles/buttons/buttons';
@import 'src/styles/cards/home-card';
@import 'src/styles/layout/container';
@import 'src/styles/forms/forms';
@import 'src/styles/loaders/loaders';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: white ;
}

a {
    color: inherit;
    text-decoration: none;
}
textarea{
    height: 300px;
    border: 0;
    background: transparent;
    outline: none;
    appearance: none;
    color: white;
    font-size: 32px;
    line-height: 48px;
    padding: 0;
}

textarea::placeholder {
    color: white;
    text-decoration: underline;
}
